<p>rooms works!</p>

<h2>Welcome to {{hotelName}}</h2>   

<div [hidden]="hideRooms">
    <p>No. of rooms available are :</p>
    <div [innerText]="number_of_hotels"></div>
</div>

<button (click)="toggle()">On/Off</button>

{{rooms_var ?.availableRooms?? 0}}

<div *ngIf="(rooms_var?.availableRooms ?? -2) > 0">
    <h2>Inside ngIf</h2>
</div>

@if ((rooms_var?.availableRooms ?? -2) > 0) {
  <div><h2>Inside if</h2></div>
}

<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Amenities</th>
            <th>Price</th>
            <th>Photos</th>
            <th>Check-in Time</th>
            <th>Check-out Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of roomList; let i = index;" >
            <td>{{i + 1}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.amenities}}</td>
            <td>{{room.price}}</td>
            <td><img [src]="room.photos" alt="Room Photo" width="100"></td>
            <td>{{room.checkinTime}}</td>
            <td>{{room.checkoutTime}}</td>
        </tr>

        <hr>

        @for (item of roomList; track $index; let i = $index) {
            <tr>
                <td>{{i + 1}}</td>
                <td>{{item.roomNumber}}</td>
                <td>{{item.roomType}}</td>
                <td>{{item.amenities}}</td>
                <td>{{item.price}}</td>
                <td><img [src]="item.photos" alt="Room Photo" width="100"></td>
                <td>{{item.checkinTime}}</td>
                <td>{{item.checkoutTime}}</td>
            </tr>
        }
    </tbody>

